  <h3>A Wild <%= @pokemon.name %> Has Appeared!</h2>
  <img src="<%= @pokemon.image %>" height="300" width="300" />
  <p hidden> <%= @pokemon.catch_rate %></p>
  <p hidden> <%= pokemon.run_rate %></p>